.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

#scores, #winners {
  text-align: center;
}

button, select, html, textarea, input {
  font-family: Gibson-Regular, Calibri, Trebuchet, sans-serif;
}

body, html {
  background-color: #2278CF;
  color: white;
  height: 100%;
}

.container{
  min-height: 80%;
  margin-bottom: -60px;
}

#game i[class*="ico-dice-"] {
  font-size: 52px;
}

#results {
  max-height: 800px;
}

#scores table {
  width: 100%;
}

#stratumn .logo {
  float: left;
  margin-right: 10px;
  margin-top: 4px;
}

#stratumn {
  color: #8DBFF2;
  position: fixed;
  bottom: 20px;
  width: 200px;
}

#stratumn  h6 {
  font-size: 15px;
  text-transform: uppercase;
  margin: 8px 0 0 0;
}

#stratumn h5 {
  margin-top: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
}
