<div id="game" ng-controller="GameController as game" layout="column" flex>

  <md-content layout-padding layout="column" layout-align="center" ng-hide="game.showDice()">
    <md-input-container>
      <label>Game</label>
      <input type="text" ng-model="game.gameId" required>
    </md-input-container>

    <md-input-container>
      <label>Nick</label>
      <input type="text" ng-model="game.nick" required md-maxlength="12">
    </md-input-container>

    <md-button class="md-raised" ng-click="game.play()">Ready!</md-button>
  </md-content>

  <md-content layout-padding layout="column" layout-align="center" ng-show="game.showDice()">
    <h1>Playing on {{game.gameId}}!</h1>
    <h2>(as {{game.nick}})</h2>
    <p>
      <ng-pluralize count="game.rolls"
                    when="{'0': 'No rolls yet.',
                     'one': '1 roll.',
                     'other': '{} rolls.'}">
      </ng-pluralize>
    </p>
    <md-content layout-padding layout="row" layout-align="center">
      <div>
        <dice value="game.dice1"></dice>
      </div>
      <div>
        <dice value="game.dice2"></dice>
      </div>
    </md-content>
    <md-button class="md-raised" ng-click="game.rollDice()" ng-disabled="game.isDisabled()">Roll!</md-button>
  </md-content>
</div>
